{% load custom_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" with page_title="Login" %}
	</head>
	<body>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="page">
					<div id="content">
						{% if form.non_field_errors %}
						<span class="error">{{ form.non_field_errors|fix_err_msg|safe }}</span>
						{% endif %}
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|fix_err_msg|safe }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						<div class="box col1">
							<h3>Login</h3>
							<form action="/accounts/login/" method="post">
								{% csrf_token %}
								<ol>
									<li><label for="id_username"{% if form.username.errors %} class="error"{% endif %}>Email Address:</label><input id="id_username" type="text" name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" size="30" class="required" />{% if form.username.errors %}<span class="pad-left10 error">* required</span>{% endif %}</li>
									{% if '/accounts' in request.path or '/activate' in request.path %}
									<li><label for="id_password">Password:</label><input id="id_password" type="password" name="password" value="" size="15" class="required" /></li>
									{% else %}
									<li><label for="id_password"{% if form.non_field_errors or not form.password.value %} class="error"{% endif %}>Password:</label><input id="id_password" type="password" name="password" value="" size="15" class="required" />{% if form.non_field_errors or not form.password.value %}<span class="pad-left10 error">* required</span>{% endif %}</li>
									{% endif %}
									<li><label for="login">&nbsp;</label><input type="submit" value=" Login " /></li>
								</ol>
								<a href="/accounts/password/reset/">Forgot your password?</a>
								<a href="/accounts/register/" style="float: right;">Not Registered?</a>
							</form>
						</div>
						<div class="box col1">
							<h3>Social Login</h3>
							{% load facebook twitter openid %}
							<ol style="text-align: center;">
								<li>{% facebook_button '/static/images/facebook-login-button.png' %}</li>
								<li>{% twitter_button '/static/images/twitter-login-button.png' %}</li></li>
								<li>{% openid_form 'https://www.google.com/accounts/o8/id' '/static/images/google-login-button.png' %}</li>
							</ol>
						</div>
						<br class="clearfix" />
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
