<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="page">
					<div id="content">
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
							{% if new_key %}
							<li><a href="/request/key/{{ new_key }}">Request new Key</a></li>
							{% endif %}
						</ul>
						{% endif %}
						{% if error %}
						<span class="error">{{ error }}</span>
						{% endif %}
						{% if form.errors %}
							{% for field in form %}
								{% if field.errors %}
								<span class="error">{{ field.name }}: {{ field.errors }}</span>
								{% endif %}
							{% endfor %}
						{% endif %}
						{% if form.non_field_errors %}
						<span class="error">{{ form.non_field_errors }}</span>
						{% endif %}
						<h3>Register</h3>
						{% if is_social %}
						{% include "include/social-form.html" %}
						{% else %}
						{% include "include/register-form.html" %}
						{% endif %}
						<br class="clearfix" />
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
