<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">Husky Hustle</a></h1>
				</div>
				{% include "include/menu.html" %}
			</div>
			<div id="inner">
				<div id="page">
					<div id="content">
						{% if validlink %}
						<h3>Enter new password</h3>
						<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
						<form action="" method="post">
							{% csrf_token %}
							{{ form.new_password1.errors }}
							<p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
							{{ form.new_password2.errors }}
							<p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
							<p><input type="submit" style="width: 13em;" class="control input" id="change_password" value=" Change my Password " /></p>
						</form>
						{% else %}
						<span class="error">Password reset unsuccessful</span>
						<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
						{% endif %}
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
