<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="page">
					<div id="content">
						<h3>Reset Password</h3>
						{% if error %}
						<span class="error">{{ error }}</span>
						{% endif %}
						{% for field in form %}
						<span class="error">{{ field.errors }}</span>
						{% endfor %}
						{% if form.non_field_errors %}
						<span class="error">{{ form.non_field_errors }}</span>
						{% endif %}
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						<form action="/accounts/password/reset/" method="post">
							{% csrf_token %}
							<ol>
								<li><label for="id_email"{% if form.email.errors %} class="error"{% endif %}>Email Address:</label><input id="id_email" type="text" name="email" value="" size="30" maxlength="75" class="required" />{% if form.email.errors %}<span class="pad-left10 error">* required</span>{% endif %}</li>
								<li><input type="submit" value=" Reset My Password " /></li>
							</ol>
						</form>
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
