{% extends "admin/app_index.html" %}
{% load i18n %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
	{% for app in app_list %}
	<div class="module">
		<table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
		<caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
		{% for model in app.models %}
			<tr>
			{% if model.perms.change %}
				<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
			{% else %}
				<th scope="row">{{ model.name }}</th>
			{% endif %}

			{% if model.perms.add %}
				<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}

			{% if model.perms.change %}
				<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endfor %}
	<style>
		.view-result {
			padding-left: 16px;
			background: url(/static/js/flexigrid/css/images/magnifier.png) no-repeat;
		}
		.calculator {
			padding-left: 16px;
			background: url(/static/js/flexigrid/css/images/calculator-gray.png) no-repeat;
		}
		.background-cover-top {
			background: #000;
			position: absolute;
			left: 0;
			top: 0;
			display: none;
			overflow: hidden;
			z-index: 125;
		}
	</style>
	<script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/static/js/husky-hustle.js"></script>
	<div class="background-cover-top"></div>
	<div class="module">
		<table summary="Graph Results.">
		<caption><a href="/admin/results/" class="section">Results</a></caption>
			<tr>
				<th scope="row"><a href="/admin/results/most-laps-by-grade">Total Laps By Grade</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-laps-by-grade" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-laps-by-grade-avg">Total Laps By Grade (Avg)</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-laps-by-grade-avg" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-laps-by-child-by-grade">Most Laps By Child By Grade</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-laps-by-child-by-grade" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-laps-by-child-by-grade-boys">Most Laps By Child By Grade (Boys)</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-laps-by-child-by-grade-boys" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-laps-by-child-by-grade-girls">Most Laps By Child By Grade (Girls)</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-laps-by-child-by-grade-girls" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-donations-by-grade">Total Donations By Grade</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-donations-by-grade" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-donations-by-child-by-grade">Most Donations By Child By Grade</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-donations-by-child-by-grade" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-donations-by-child">Most Donations By Child</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-donations-by-child" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-donations-by-child-pledged">Most Pledges By Child</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-donations-by-child-pledged" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-donations-by-day">Total Donations By Day For Last 10 Days</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-donations-by-day" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/most-donations-by-day-by-sponsor">Total Donations By Day By Sponsor For Last 10 Days</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/most-donations-by-day-by-sponsor" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/donations-by-teacher">Total Donations By Teacher</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/donations-by-teacher" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/show-unpaid-donations">Show Unpaid Results</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/show-unpaid-donations" class="view-result">View</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/results/verify-paypal-donations">Verify PayPal Donations</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/results/verify-paypal-donations" class="view-result">View</a></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/both/calculate_totals" class="run-calculations">Run Calculations for Results</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/both/calculate_totals" class="run-calculations calculator">Run</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/donation/calculate_totals" class="run-calculations">Run Calculations for Donations</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/donation/calculate_totals" class="run-calculations calculator">Run</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/children/calculate_totals" class="run-calculations">Run Calculations for Children</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/children/calculate_totals" class="run-calculations calculator">Run</a></td>
			</tr>
			<tr>
				<th scope="row"><a href="/admin/send_teacher_reports" class="run-calculations">Run Teacher Report Emails</a></th>
				<td>&nbsp;</td>
				<td><a href="/admin/send_teacher_reports" class="run-calculations calculator">Run</a></td>
			</tr>
		</table>
	</div>
{% else %}
	<p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
	<div class="module" id="recent-actions-module">
		<h2>{% trans 'Recent Actions' %}</h2>
		<h3>{% trans 'My Actions' %}</h3>
			{% load log %}
			{% get_admin_log 10 as admin_log for_user user %}
			{% if not admin_log %}
			<p>{% trans 'None available' %}</p>
			{% else %}
			<ul class="actionlist">
			{% for entry in admin_log %}
			<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
				{% if entry.is_deletion %}
					{{ entry.object_repr }}
				{% else %}
					<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
				{% endif %}
				<br/>
				{% if entry.content_type %}
					<span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
				{% else %}
					<span class="mini quiet">{% trans 'Unknown content' %}</span>
				{% endif %}
			</li>
			{% endfor %}
			</ul>
			{% endif %}
	</div>
</div>
{% endblock %}
