{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block submit_buttons_bottom %}
{% submit_row %}
<script type="text/javascript">
    (function($) {
    if ( $('#id_identifier') ) {
        $('#id_identifier').live('focus', function (event) {
        	var reg = new RegExp( '\\((\\d+)\\)' );
            var match = $('#id_teacher :selected').text().match(reg);
            var identifier = [$('#id_first_name').val(), $('#id_last_name').val(), match[1]].join('-');
            identifier = identifier.toLowerCase();
            identifier = identifier.replace(/^\s+|\s+$/g,'');
            identifier = identifier.replace(/\s+/g, '-');
            identifier = identifier.replace(/-+/g, '-');
            $('#id_identifier').val(identifier);
        });
    }
    })(django.jQuery);
</script>
{% endblock %}