<form action="/donate{% if child %}/{{ child.identifier }}{% else %}-direct{% endif %}" method="post">
	{% if make_donation %}<input type="hidden" name="make_donation" value="1" />{% endif %}
	<input type="hidden" name="teacher_donation" value="1" />
	<input type="hidden" name="last_name" value="teacher" />
	<input type="hidden" name="phone_number" value="(000) 000-0000" />
	<input type="hidden" name="email_address" value="_teacher_@huskyhustle.com" />
	<input type="hidden" name="per_lap" value="" />
	{% csrf_token %}
	<ol>
		{% if not child %}
		<li>
			<label for="id_for_student">For Student:</label>
			<input type="text" name="student_first_name" size="25" value="" placeholder="First Name" />
			<input type="text" name="student_last_name" size="25" value="" placeholder="Last Name" />
			<select id="student_teacher_id" name="student_teacher_id">
				{% for teacher in teachers %}
				<option value="{{ teacher.id }}">{{ teacher }}</option>
				{% endfor %}
			</select>
		</li>
		{% endif %}
		{% if not child.sponsored_principle %}
		<li>
			<label for="id_to_principle">Donate To:</label>
			<input type="radio" class="to-principle" id="to_principle" name="to-principle" value="Mrs. Agopian" />&nbsp;Mrs. Agopian&nbsp;&nbsp;
			<input type="radio" class="to-principle" id="to_principle_teacher" name="to-principle" value="" />&nbsp;A Teacher
		</li>
		{% endif %}
		<li>
			<label for="teacher">Teacher:</label>
			<input id="id_first_name" type="text" name="first_name" value="{{ form.first_name.value }}" class="hidden" />
			<select id="id_teacher" name="teacher" class="to-teacher">
				{% for teacher in teachers %}
				<option value="{{ teacher.full_name }}">{{ teacher }}</option>
				{% endfor %}
			</select>
		</li>
		<li>
			<label for="id_set_amount"{% if form.donation.errors %} class="error"{% endif %}>Set Amount:</label>
			<input type="radio" class="pre-set-amount" name="pre-set-amount" value="5.00" />&nbsp;$5&nbsp;&nbsp;
			<input type="radio" class="pre-set-amount" name="pre-set-amount" value="10.00" />&nbsp;$10&nbsp;&nbsp;
			<input type="radio" class="pre-set-amount" name="pre-set-amount" value="20.00" />&nbsp;$20&nbsp;&nbsp;
			<input type="radio" class="pre-set-amount" name="pre-set-amount" value="" />&nbsp;Other&nbsp;&nbsp;
		</li>
		<li><label for="id_donation"{% if form.donation.errors %} class="error"{% endif %}>Donation:</label><input id="id_donation" type="text" name="donation" value="{{ form.donation.value }}" size="10" class="required" placeholder="xxxx.xx" readonly="readonly" />{% if form.donation.errors %}<span class="pad-left10 error">* required</span>{% endif %}</li>
		<li><input type="submit" value=" Make Donation " /></li>
	</ol>
</form>
