<div id="page-bottom-content">
	<h4>Stay Connected</h4>
	<p class="social-links">
		<a href="http://www.facebook.com/HicksHuskyHustle" alt="Follow us on Facebook"><img border="0" src="/static/images/facebook-icon.png" class="social-icon" /></a>
		<a href="http://www.twitter.com/HuskyHustle" alt="Follow us on Twitter"><img border="0" src="/static/images/twitter-icon.png" class="social-icon" /></a>
		<a href="https://picasaweb.google.com/hickshuskyhustle" alt="Follow us on Picasa"><img border="0" src="/static/images/picasa-icon.png" class="social-icon" /></a>
		<a href="http://huskyhustle.com/blog/feed" alt="Subscribe to our RSS Feed"><img border="0" src="/static/images/rss-icon.png" width="64" class="social-icon" /></a>
	</p>
	<p class="social-icons">
		Bookmark this site and follow us to get the lastest updates about the Husky Hustle.<br />
		Follow us on Facebook <a href="http://www.facebook.com/HicksHuskyHustle">HicksHuskyHustle</a>.<br />
		Follow us on Twitter <a href="http://www.twitter.com/HuskyHustle">@HuskyHustle</a>.<br />
		Follow us on Picasa <a href="https://picasaweb.google.com/hickshuskyhustle">Hicks Husky Hustle</a>.<br />
		Subscribe to our RSS Feed <a href="http://huskyhustle.com/blog/feed">Husky Hustle RSS</a>.
	</p>
</div>
