<div id="page-bottom-content">
	<h3>Social</h3>
	<p style="float: right;">
		<a href="http://www.facebook.com/HicksHuskyHustle" alt="Follow us on Facebook"><img src="/static/images/facebook-icon.png" /></a>
		<a href="http://www.twitter.com/HuskyHustle" alt="Follow us on Twitter"><img src="/static/images/twitter-icon.png" /></a>
		<a href="https://picasaweb.google.com/hickshuskyhustle" alt="Follow us on Picasa"><img src="/static/images/picasa-icon.png" /></a>
	</p>
	<p>
		Bookmark this site and follow us to get the lastest updates and information about the Husky Hustle.<br />
		Follow us on Facebook <a href="http://www.facebook.com/HicksHuskyHustle">HicksHuskyHustle</a>.<br />
		Follow us on Twitter <a href="http://www.twitter.com/HuskyHustle">@HuskyHustle</a>.<br />
		Follow us on Picasa <a href="https://picasaweb.google.com/hickshuskyhustle">Hicks Husky Hustle</a>.<br />
	</p>
</div>
