<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Hicks Canyon Jog-A-Thon Husky Hustle" />
<meta name="keywords" content="cicks canyon jog-a-thon husky hustle elementary" />
<title>Hicks Canyon: Husky Hustle: {{ page_title }}</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" type="text/css" />
{% if not no_css %}
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.9.0.custom.css" type="text/css" media="screen, projection" charset="utf-8" />
<link rel="stylesheet" href="/static/css/husky-hustle.css" type="text/css" media="screen, projection" charset="utf-8" />
<link rel="stylesheet" href="/static/css/it-fits/main.css" type="text/css" media="screen, projection" charset="utf-8" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" name="viewport" />
<script src="/static/js/it-fits/libs/modernizr-2.5.2.min.js"></script>
<!--[if lte IE 7]>
<link rel="stylesheet" href="/static/css/ie_fixes.css" type="text/css" media="screen, projection" />
<![endif]-->
{% endif %}
