{% if edit %}
<form action="/edit/profile" method="post" id="profile_{{ parent.id }}" class="form-edit hidden">
	{% csrf_token %}
	<input type="hidden" value="{{ parent.id }}" name="id" />
	<ol>
		<li><label for="first_name">First Name:</label><input id="first_name" type="text" name="first_name" value="{{ parent.first_name }}" size="30" class="required" /><span class="hidden pad-left10 error">* required</span></li>
		<li><label for="last_name">Last Name:</label><input id="last_name" type="text" name="last_name" value="{{ parent.last_name }}" size="30" class="required" /><span class="hidden pad-left10 error">* required</span></li>
		<li><label for="email_address">Email Address:</label><input id="email_address" type="text" name="email_address" value="{{ parent.email_address }}" size="30" maxlength="75" class="required" /><span class="hidden pad-left10 error">* required</span></li>
		<li><label for="phone_number">Phone Number:</label><input id="phone_number" type="text" name="phone_number" value="{{ parent.phone_number }}" size="30" class="required" placeholder="(xxx) xxx-xxxx" /><span class="hidden pad-left10 error">* required</span></li>
		<li><label for="guardian">&nbsp;</label>
			<select id="guardian" name="guardian">
				<option value="1"{% if parent.guardian == 1 %} selected="selected"{% endif %}>Mother</option>
				<option value="2"{% if parent.guardian == 2 %} selected="selected"{% endif %}>Father</option>
				<option value="3"{% if parent.guardian == 3 %} selected="selected"{% endif %}>Guardian</option>
			</select>
		</li>
		<li>&nbsp;</li>
		<li>
			<input type="button" style="width: 8em;" class="control input submit_edit" id="submit_profile_{{ parent.id }}" value=" Update Profile " />
		</li>
	</ol>
</form>
{% else %}
<form action="/register/" method="post">
	{% csrf_token %}
	<ol>
		<li><label for="id_first_name"{% if form.first_name.errors %} class="error"{% endif %}>First Name:</label><input id="id_first_name" type="text" name="first_name" value="{{ form.first_name.value }}" size="30" class="required" /><span class="pad-left10 require error">*{% if form.first_name.errors %} required{% endif %}</span></li>
		<li><label for="id_last_name"{% if form.last_name.errors %} class="error"{% endif %}>Last Name:</label><input id="id_last_name" type="text" name="last_name" value="{{ form.last_name.value }}" size="30" class="required" /><span class="pad-left10 require error">*{% if form.last_name.errors %} required{% endif %}</span></li>
		<li><label for="id_email_address"{% if form.email_address.errors %} class="error"{% endif %}>Email Address:</label><input id="id_email_address" type="text" name="email_address" value="{{ form.email_address.value }}" size="30" maxlength="75" class="required" /><span class="pad-left10 require error">*{% if form.email_address.errors %} required{% endif %}</span></li>
		<li><label for="id_phone_number"{% if form.phone_number.errors %} class="error"{% endif %}>Phone Number:</label><input id="id_phone_number" type="text" name="phone_number" value="{{ form.phone_number.value }}" size="30" class="required" placeholder="(xxx) xxx-xxxx" /></li>
		<li><label for="id_guardian">&nbsp;</label>
			<select id="id_guardian" name="guardian">
				<option value="1"{% if form.guardian.value == 1 %} selected="selected"{% endif %}>Mother</option>
				<option value="2"{% if form.guardian.value == 2 %} selected="selected"{% endif %}>Father</option>
				<option value="3"{% if form.guardian.value == 3 %} selected="selected"{% endif %}>Guardian</option>
			</select>
		</li>
		{% if request.path == '/register/' %}
		<li><label for="id_password1"{% if form.non_field_errors or not form.password1.value %} class="error"{% endif %}>Password:</label><input id="id_password1" type="password" name="password1" value="" size="15" class="required" /><span class="pad-left10 require error">*{% if form.non_field_errors or not form.password1.value %} required{% endif %}</span></li>
		<li><label for="id_password2"{% if form.non_field_errors or not form.password2.value %} class="error"{% endif %}>Confirm:</label><input id="id_password2" type="password" name="password2" value="" size="15" class="required" /><span class="pad-left10 require error">*{% if form.non_field_errors or not form.password2.value %} required{% endif %}</span></li>
		{% else %}
		<li><label for="id_password1">Password:</label><input id="id_password1" type="password" name="password1" value="" size="15" class="required" /><span class="pad-left10 require error">*</span></li>
		<li><label for="id_password2">Confirm:</label><input id="id_password2" type="password" name="password2" value="" size="15" class="required" /><span class="pad-left10 require error">*</span></li>
		{% endif %}
		<li><input type="submit" value=" Register " /></li>
	</ol>
</form>
{% endif %}