{% load custom_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="page">
					<div id="content">
						<div class="box">
							<h2>Welcome to Hicks Canyon Husky Hustle</h2>
							<p class="error">The page/file you are looking for could not be found.</p>
						</div>
						<br class="clearfix" />
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Axiom
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120729
-->
