<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="page">
					<div id="content">
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
							{% if success %}
							<li class="success">You will be notified via email at a later date on how to make your payment.</li>
							{% endif %}
						</ul>
						{% endif %}
						{% if make_donation %}
							{% if not error %}
								{% if search %}
								{% include "include/search-form.html" %}
								{% elif teacher_donation %}
								<h3>Make a Donation to a Teacher for: {{ child }}</h3>
								{% include "include/donation-form-teachers.html" %}
								{% else %}
								<h3>Make a Donation to: {{ child }}</h3>
								{% include "include/donation-form.html" %}
								{% include "include/search-form.html" %}
								{% endif %}
							{% else %}
								{% include "include/search-form.html" %}
							{% endif %}
						{% else %}
						<h3><a href="/accounts/profile/">Profile</a> &gt; <a href="/account/{{ child.identifier }}">Donation List</a> &gt; Add Sponsor</h3>
						{% include "include/donation-form.html" %}
						{% endif %}
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
	<script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/static/js/husky-hustle.js"></script>
</html>
