<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="page">
					<div id="content">
						<div class="box">
							<h3>Get Started Using the Husky Hustle Website</h3>
							<ul class="faq">
								<li><a href="#1" name="top">Instructions as a Parents</a></li>
								<ul class="faq">
									<li><a href="#1.1">Parent Registration</a></li>
									<ul class="faq">
										<li><a href="#1.1.1">A. Parents can register on the Husky Hustle Website using the "Login / Register" menu option</a></li>
										<li><a href="#1.1.2">B. Parents can also register with their social logins for "Facebook" , "Twitter" or "Google"</a></li>
									</ul>
									<li><a href="#1.2">Registering Your Student</a></li>
									<li><a href="#1.3">Adding Your Sponsors</a></li>
									<li><a href="#1.4">Make Donation to a Teacher</a></li>
								</ul>
								<li><a href="#2">Instructions as a Sponsor</a></li>
								<ul class="faq">
									<li><a href="#2.1">Sponsoring a Student</a></li>
									<li><a href="#2.2">If Student CAN NOT be found</a></li>
									<li><a href="#2.3">Making a Donation to a Teacher for a Student</a></li>
									<li><a href="#2.4">If Student CAN NOT be found</a></li>
								</ul>
								<li><a href="#3">Making Donations Directly with PayPal</a></li>
								<ul class="faq">
									<li><a href="#3.1">Donating Directly to a Student</a></li>
									<li><a href="#3.2">Making a Donation Directly to a Teacher</a></li>
								</ul>
							</ul>
							<br class="clearfix" />
							<br class="clearfix" />
							<br class="clearfix" />
							<hr>
							<br class="clearfix" />
							<br class="clearfix" />
							<br class="clearfix" />
							<ul class="faq">
								<li><a href="#top" name="1">Instructions as a Parents:</a></li>
								<ul class="faq">
									<li><a href="#top" name="1.1">Parent Registration:</a></li>
									<ul class="faq">
										<li><a href="#top" name="1.1.1">A. Parents can register on the Husky Hustle Website using the "Login / Register" menu option.</a></li>
										<ol class="faq">
											<li>From the Home Page of www.huskyhustle.com click on "Login / Register" option</li>
											<li>Click the "Not Registered?" link</li>
											<li>Provide all required fields and click "Register" to submit</li>
											<li>Wait for "Activation Link" to arrive in your email inbox</li>
											<li>Click the "Activation Link" to activate your account</li>
										</ol>
									</ul>
									<ul class="faq">
										<li><a href="#top" name="1.1.2">B. Parents can also register with their social logins for "Facebook" , "Twitter" or "Google".</a></li>
										<ol class="faq">
											<li>Click the social network you would like to use for logging in</li>
											<li>You will be presented with an authorization page asking for you to authorize the Husky Hustle Website</li>
											<li>Accept the authorization</li>
											<li>Once redirected back to the Husky Hustle Website, provide registration information and submit</li>
											<li>Your account will be automatically activated</li>
										</ol>
									</ul>
								</ul>
								<ul class="faq">
									<li><a href="#top" name="1.2">Registering Your Student:</a></li>
									<ol class="faq">
										<li>Login to the Husky Hustle Website</li>
										<li>Go to the "Profile" section, if not already there</li>
										<li>Scroll to the "Add a Student" section</li>
										<li>Provide information for your Student</li>
										<li>If a student has already been registered by a different parent, you can have your account linked with the other parent.</li>
										<li>Linking requires that the other parent accept the request to link accounts.</li>
									</ol>
								</ul>
								<ul class="faq">
									<li><a href="#top" name="1.3">Adding Your Sponsors:</a></li>
									<ol class="faq">
										<li>Login to the Husky Hustle Website</li>
										<li>Go to the "Profile" section, if not already there</li>
										<li>Click on the Student's name</li>
										<li>Click on "Add Sponsor"</li>
										<li>Fill out the form with your Sponsor's information</li>
										<li>If you made a flat donation, you can make your payment on the "Thank You" page by clicking the "Make your Payment" link</li>
									</ol>
								</ul>
								<ul class="faq">
									<li><a href="#top" name="1.4">Make Donation to a Teacher:</a></li>
									<ol class="faq">
										<li>Login to the Husky Hustle Website</li>
										<li>Go to the "Profile" section, if not already there</li>
										<li>Click on the Student's name</li>
										<li>Click on "Add Sponsor"</li>
										<li>Scroll down to the "Make a Donation to a Teacher" link and click it</li>
										<li>Select the Teacher you would like to donate to, select a donation amount or add your own amount and submit</li>
										<li>You can make your payment on the "Thank You" page by clicking the "Make your Payment" link</li>
									</ol>
								</ul>
							</ul>
							<ul class="faq">
								<li><a href="#top" name="2">Instructions as a Sponsor:</a></li>
								<ul class="faq">
									<li><a href="#top" name="2.1">Sponsoring a Student:</a></li>
									<ol class="faq">
										<li>Search for the Student or Parent of the Student you would like to Sponsor</li>
										<li>Select the Student from the list or results by clicking on the Student's name</li>
										<li>Provide your information, Donation amount and submit</li>
										<li>If you made a flat donation, you can make your payment on the "Thank You" page by clicking the "Make your Payment" link</li>
									</ol>
								</ul>
								<ul class="faq">
									<li><a href="#top" name="2.2">If Student CAN NOT be found:</a></li>
									<ol class="faq">
										<li>Go to http://www.huskyhustle.com/make-donation/</li>
										<li>Provide the Student's name and their Teacher</li>
										<li>Provide your information, Donation amount and submit</li>
										<li>If you made a flat donation, you can make your payment on the "Thank You" page by clicking the "Make your Payment" link</li>
									</ol>
								</ul>
								<ul class="faq">
									<li><a href="#top" name="2.3">Making a Donation to a Teacher for a Student:</a></li>
									<ol class="faq">
										<li>Search for the Student or Parent of the Student you would like to Sponsor</li>
										<li>Select the Student from the list or results by clicking on the Student's name</li>
										<li>Scroll down to the "Make a Donation to a Teacher" link and click it</li>
										<li>Select the Teacher you would like to donate to, select a donation amount or add your own amount and submit</li>
										<li>You can make your payment on the "Thank You" page by clicking the "Make your Payment" link</li>
									</ol>
								</ul>
								<ul class="faq">
									<li><a href="#top" name="2.4">If Student CAN NOT be found:</a></li>
									<ol class="faq">
										<li>Go to http://www.huskyhustle.com/teacher-donation/</li>
										<li>Provide the Student's name and their Teacher</li>
										<li>Select the Teacher you would like to donate to, select a donation amount or add your own amount and submit</li>
										<li>You can make your payment on the "Thank You" page by clicking the "Make your Payment" link</li>
									</ol>
								</ul>
							</ul>
							<ul class="faq">
								<li><a href="#top" name="3">Making Donations Directly with PayPal:</a></li>
								<ul class="faq">
									<li><a href="#top" name="3.1">Donating Directly to a Student:</a></li>
									<ol class="faq">
										<li>From the Home Page of www.huskyhustle.com click on the "Donation" button</li>
										<li>You will be redirected to PayPal's payment page</li>
										<li>Fill out the donation amount</li>
										<li>Login with your PayPal account or continue without one</li>
										<li>Fill in your payment information and submit to "Review" your payment</li>
										<li>Click on the "Notes" link to specify the Student's name and Teacher</li>
										<li>Submit to make your Donation</li>
									</ol>
								</ul>
								<ul class="faq">
									<li><a href="#top" name="3.2">Making a Donation Directly to a Teacher:</a></li>
									<ol class="faq">
										<li>From the Home Page of www.huskyhustle.com click on the "Donation" button</li>
										<li>You will be redirected to PayPal's payment page</li>
										<li>Fill out the donation amount</li>
										<li>Login with your PayPal account or continue without one</li>
										<li>Fill in your payment information and submit to "Review" your payment</li>
										<li>Click on the "Notes" link to specify the Teacher's name and/or Student's name</li>
										<li>Submit to make your Donation</li>
									</ol>
								</ul>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
