{% load custom_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">Husky Hustle</a></h1>
				</div>
				{% include "include/menu.html" %}
			</div>
			<div id="inner">
				<div id="splash">
					<img src="/static/images/banner.jpg" width="900" height="260" alt="" class="image" />
				</div>
				<div id="page">
					<div id="content">
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						<div class="box">
							<h2>Welcome to Hicks Canyon Husky Hustle</h2>
							<img class="image alignleft" src="/static/images/welcome1.jpg" width="215" height="150" alt="" />
							{% include "include/thermometer.html" %}
							<p>
								Weclome to the 5th annual Husky Hustle Jog-a-thon Fundraiser.  Last year we raised over $20,000 in donations 
								and we're upping our goal to $30,000 this year.  One change we're making this year is to go paperless (or at 
								least partially) and accept Online Payments.  Parents and Sponsors will now be able to make all their donations 
								online.  We're hoping this will simplify the process for sponsors to donate and make collecting funds easier 
								for parents.
							</p>

							<h3>there are 2 ways to sponor your child:</h3>
							<h4>Flat Amount:</h4>
							<p>
								Make a <span class="italics">one-time donation</span> in a flat amount <span class="italics">regardless 
								of how many laps your child runs</span>.  <span class="bold">In addition</span>, students and their 
								families can <span class="italics">also</span> sponsor ANY Hicks teachers and/or Mrs. Agopian by making 
								a flat amount donation.  There is a separate section on the Pledge Sheet to itemize Teacher/Principal 
								pledges.  <span class="underline">Flat amount donations should be turned in with this envelope on March 7</span>.
							</p>

							<h4>Per Lap:</h4>
							<p>
								Pledge to <span class="italics">pay an amount for each lap your child runs</span>.  The total laps will 
								be counted and recorded during the Jog-a-thon.  The amount due for each pledge will be calculated and 
								entered on the pledge sheet and sent home with your child to collect from the sponsors.  <span class="underline">
								Per lap pledges and any other amounts due are to be turned in during the week of March 11-15</span>.
							</p>
							<p>
								Every student is to turn in their Pledge Envelope to their teacher on  <span class="bold">Thursday, March 7</span>, 
								(the day before the Jog-a-thon), whether or not the student has collected pledges or received money.
							</p>

							<h4>
								Cash or checks payable to Hicks Canyon PTO or Online Paymets.  Online Payments are preferred, please encourage 
								your sponsors to make payments online.  If you would like to write a single check to cover all donations, 
								please do!
							</h4>

							<p>
								After your child runs, we will calculate any amount due and the envelope will be returned to you.  Please 
								send in any outstanding pledges by <span class="bold">Friday, March 15</span>.
							</p>
							<p>
								Prizes will be awarded to top runners and top money raisers on <span class="bold">Friday, April 19</span>.
							</p>

							<h4>Volunteers:</h4>
							<p>
								We always welcome volunteers.  Parents if you think you can help, please <a href="/nav/contact">contact us</a> 
								and let us know.  We need volunteers for water duty and lap counting.
							</p>
						</div>
						<br class="clearfix" />
						<div class="box col1">
							<h3>Dates to Remember</h3>
							<ul class="list">
								{% for entry in calendar.entry %}
								<li style="font-size: 0.85em;"><a href="{{ entry.link.0.href }}">{{ entry.title.text }} on {{ entry.when.0.start|date_format }}</a></li>
								{% endfor %}
							</ul>
						</div>
						<div class="box col2">
							<h3>Message of the Week</h3>
							<img class="image aligntop" src="/static/images/welcome2.jpg" width="430" height="155" alt="" />
							<p>
								<div class="title">{{ motd.title }}</div>
								<div class="content">{{ motd.content }}</div>
								<div class="author">by {{ motd.author }} on {{ motd.date_added }}</div>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Axiom
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120729
-->
