<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="page">
					<div id="content">
						<div class="box col1">
							<h3>Tustin Unified</h3>
							<ul class="list">
								{% for link in links %}
								<li><a href="{{ link.shortened }}" target="_school">{{ link.title }}</a></li>
								{% endfor %}
							</ul>
						</div>
						<div class="box col2">
							<h3>Fundraising</h3>
							<img class="image aligntop full" src="/static/images/welcome2.jpg" width="430" height="155" alt="" />
							{% include "include/thermometer.html" %}
							{{ content.content|safe }}
						</div>
						<br class="clearfix" />
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
