<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">Husky Hustle</a></h1>
				</div>
				{% include "include/menu.html" %}
			</div>
			<div id="inner">
				<div id="page">
					<div id="content">
						<div class="box col1">
							<h3>Tustin Unified</h3>
							<ul class="list">
								<li class="first"><a href="http://www.hickscanyon.org/" target="_school">Hicks Canyon</a></li>
								<li><a href="http://www.tustin.k12.ca.us/domain/614" target="_school">Kindergarten Teachers</a></li>
								<li><a href="http://www.tustin.k12.ca.us/domain/1246" target="_school">1st Grade Teachers</a></li>
								<li><a href="http://www.tustin.k12.ca.us/domain/1245" target="_school">2nd Grade Teachers</a></li>
								<li><a href="http://www.tustin.k12.ca.us/domain/1247" target="_school">3rd Grade Teachers</a></li>
								<li class="last"><a href="http://www.tustin.k12.ca.us/domain/1248" target="_school">4th Grade Teachers</a></li>
							</ul>
						</div>
						<div class="box col2">
							<h3>Fundraising</h3>
							<img class="image aligntop" src="/static/images/welcome2.jpg" width="430" height="155" alt="" />
							{% include "include/thermometer.html" %}
							Rutrum quis ultricies nullam at purus accumsan penatibus. Malesuada penatibus non nulla quam rutrum. Imperdiet integer nascetur cursus. Quis felis adipiscing leo penatibus interdum ac fusce.
						</div>
						<br class="clearfix" />
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
