<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="page">
					<div id="content">
						<div class="box col1">
							<h3>Thank You for your Donation!</h3>
						</div>
						<br class="clearfix" />
					</div>
				</div>
			</div>
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
	</body>
</html>
