{% load custom_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
	</head>
	<body>
		<div class="background-cover"></div>
		<div class="background-cover-top"></div>
		<div id="wrapper">
			{% include "include/menu.html" %}
			<div id="inner">
				<div id="content">
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
						{% if linked %}
						<li style="color: #000000;">Would you like to link your account to: <a id="link_to" href="/request/link/{{ parent.id }}">{{ linked.full_name }}</a>?</li>
						{% endif %}
					</ul>
					{% endif %}
					<div class="box">
						<h3>Profile</h3>
						<div class="box left-col1-3">
							<ul class="list">
								<li>{% if parent.guardian == 1 %}Mother{% elif parent.guardian == 2 %}Father{% else %}Guardian{% endif %}: {{ parent.first_name }} {{ parent.last_name }}&nbsp;<img src="/static/images/edit.png" class="show-edit" id="edit_profile_{{ parent.id }}" /></li>
								<li>{{ parent.email_address }}</li>
								<li>{{ parent.phone_number }}</li>
								<li>{{ user_id }}</li>
								<li>{{ user_email }}</li>
								<li>&nbsp;</li>
								{% for link in parent.links %}
								<li>Linked to: {{ link.full_name }} ({{ link.is_guardian }})</li>
								{% endfor %}
							</ul>
						</div>
						{% if parent.children.all %}
						<div class="box">
							Your sponsors can use the link(s) below to make a direct donation to your child:<br />
							{% if parent.children.all %}
								{% for child in parent.children.all %}
								<div id="donate-{{ child.id }}">{{ child.donate_url }}</div>
								{% endfor %}
							{% endif %}
						</div>
						<br class="clearfix" />
						<h3>Students</h3>
						<table class="child-list" border="1">
							<tr>
								<th>Student</th>
								<th>Sponsors</th>
								<th>Teacher</th>
								<th>Laps</th>
								<th>Share with Friends/Family</th>
							</tr>
							{% for child in parent.children.all %}
							<tr>
								<td>
									<a href="/account/{{ child.identifier }}"><span id="first_name-{{ child.id }}">{{ child.first_name }}</span> {{ child.last_name }}</a>&nbsp;
									{% if child|is_default:parent %}<img src="/static/images/edit.png" class="show-edit" id="edit_child_{{ child.id }}" />{% endif %}
								</td>
								<td style="width: 10px;">{{ child.donations }}</td>
								<td style="width: 250px;">{{ child.teacher.full_name }} ({{ child.teacher.room_number }})</td>
								<td style="width: 10px;">{% if child.laps %}{{ child.laps }}{% else %}0{% endif %}</td>
								<td nowrap="nowrap">
									<span src="{{ child.facebook_share_url|safe }}" class="post-to-social post"><img src="/static/images/facebook-share-button.png" width="60" /></span>
									<a href="https://twitter.com/intent/tweet?button_hashtag=HuskyHustle" class="twitter-hashtag-button" data-related="HuskyHustle" data-url="{{ child.donate_url }}">Post to Twitter #HuskyHustle</a>
									<g:plus action="share" annotation="none"></g:plus>
									<a href="/donation_sheet/{{ child.identifier }}" title="Print Form" target="_print"><img src="/static/images/print-icon.png" width="24" alt="Print Form" /></a>
									<span class="send-email post" id="email-{{ child.id }}"><img src="/static/images/email-icon.png" width="20" /></span>
								</td>
							</tr>
							{% endfor %}
						</table>
						{% endif %}
						<br class="clearfix" />
						<h3>Add a Student</h3>
						{% include "include/child-form.html" %}
						{% include "include/search-form.html" with parent_only=1 %}
						{% load facebook twitter openid %}
						<h3>Connected profiles:</h3>
						<ol>
							<li>{% if my_facebook %}
								<form>
									<img src="/static/images/facebook-icon-square.png" width="50" align="top"/> <a href="#" src="/disconnect/{{ parent.id }}/facebook" class="disconnect">Disconnect</a>. You should also remove the applicaiton from your Facebook <a href="https://www.facebook.com/settings?tab=applications" target="_settings">settings</a>
								</form>
								{% else %}{% facebook_button '/static/images/facebook-connect-button.png' %}{% endif %}</li>
							<li>{% if my_twitter %}
								<form>
									<img src="/static/images/twitter-icon-square.png" width="50" align="top"/> <a href="#" src="/disconnect/{{ parent.id }}/twitter" class="disconnect">Disconnect</a>. You should also remove the applicaiton from your Twitter <a href="https://twitter.com/settings/applications" target="_settings">settings</a>
								</form>
								{% else %}{% twitter_button '/static/images/twitter-connect-button.png' %}{% endif %}</li>
							<li>{% if my_google %}
								<form>
									<img src="/static/images/google-icon-square.png" width="50" align="top"/> <a href="#" src="/disconnect/{{ parent.id }}/google" class="disconnect">Disconnect</a>. You should also remove the applicaiton from your Google <a href="https://accounts.google.com/b/0/IssuedAuthSubTokens?hl=en" target="_settings">settings</a>
								</form>
								{% else %}{% openid_form 'https://www.google.com/accounts/o8/id' '/static/images/google-connect-button.png' %}{% endif %}</li>
						</ol>
						{% if facebook or twitter or messages %}
						<h3><a href="{% url socialregistration:logout %}">Logout</a></h3>
						{% else %}
						<h3><a href="/accounts/logout/">Logout</a></h3>
						{% endif %}
					</div>
				</div>
			</div>
			{% if child %}
			<br class="clearfix" />
			<table id="donations" style="display: none;"></table>
			{% endif %}
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="overlay-box-post" class="overlay-box">
			<div class="overlay-content">
				<iframe id="post-iframe" style="width: 550px; height: 330px;" src="" scrolling="no" frameborder="0" name="post-iframe" marginwidth="0" marginheight="0" vspace="0" hspace="0"></iframe>
			</div>
		</div>
		<div id="overlay-box-edit" class="overlay-box">
			<div class="overlay-content">
				{% include "include/register-form.html" with edit=1 %}
				{% include "include/child-form.html" with edit=1 %}
			</div>
		</div>
		<div id="overlay-box-email" class="overlay-box">
			<div class="overlay-content">
				<form id="email_form" action="/emails" action="post">
					{% csrf_token %}
					<input type="hidden" id="child_first_name" name="child_first_name" value="{{ child.first_name }}">
					<fieldset class="form">
					<legend id="title">Send Email to Friends/Family</legend>
					<div class="wrapper">
						<ul>
							<li>
								<label for="email_addresses" id="email_addresses_label">Email Addresses</label><br />
								<input type="text" class="control input" id="email_addresses" name="email_addresses" value="" size="200" placeholder="(comma separated)" />
							</li>
							<li>
								<label for="custom_message" id="custom_message_label">Custom Message</label><br />
								<textarea class="control input" id="custom_message" name="custom_message" cols="200" rows="15"></textarea>
							</li>
							<li>
								<input type="button" style="width: 8em;" class="control input submit_button" id="submit_email" value=" Submit " />
								<input type="button" style="width: 8em;" class="control input cancel_button" id="cancel_email" value=" Cancel " />
							</li>
						</ul>
					</div>
					</fieldset>
				</form>
				<span id="message" class="hidden">Dear Friends and Family,

Please help support {first_name} in this year's Husky Hustle Jog-A-Thon.  Our goal is to reach $80,000 to raise money for Hicks Canyon Elementary School.  Last year we were able to raise over $60,000 and we're hoping this year will be even better.

Thank you for your support,

{{ parent.full_name }}

You can use the following url to donate directly to {first_name}:

{donate_url}
				</span>
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
		<div id="fb-root"></div>
	</body>
	<script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.9.0.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/husky-hustle.js"></script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
</html>
