<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "include/page-header.html" %}
        <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.9.0.custom.css" type="text/css" media="screen, projection" charset="utf-8" />
	</head>
	<body>
		<div class="background-cover"></div>
		<div class="background-cover-top"></div>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">Husky Hustle</a></h1>
				</div>
				{% include "include/menu.html" %}
			</div>
			<div id="inner">
				<div id="content">
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					<div class="box">
						<h3>Profile</h3>
						<ul class="list">
							<li>{{ parent.first_name }} {{ parent.last_name }}&nbsp;<img src="/static/images/edit.png" class="show-edit" id="edit_profile_{{ parent.id }}" /></li>
							<li>{{ parent.email_address }}</li>
							<li>{{ parent.phone_number }}</li>
							<li>{{ user_id }}</li>
							<li>{{ user_email }}</li>
						</ul>
						{% if parent.children %}
						<h3>Children</h3>
						<ul class="list">
							{% for child in parent.children.all %}
							<li>
								<a href="/account/{{ child.identifier }}">{{ child.first_name }} {{ child.last_name }}</a>&nbsp;<img src="/static/images/edit.png" class="show-edit" id="edit_child_{{ child.id }}" />:  In room {{ child.room_number }} with {{ child.teacher }}{% if child.laps %} ran {{ child.laps }} laps.{% endif %}&nbsp;&nbsp;&nbsp;
								<span src="{{ child.facebook_share_url }}" class="post-facebook post"><img src="/static/images/facebook-share-button.png" width="60" /></span>&nbsp;
								<a href="https://twitter.com/intent/tweet?button_hashtag=HuskyHustle" class="twitter-hashtag-button" data-related="HuskyHustle" data-url="{{ child.donate_url }}">Post to Twitter #HuskyHustle</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>&nbsp;
								<a href="/donation_sheet/{{ child.identifier }}" title="Print Form" target="_print"><img src="/static/images/print-icon.png" width="24" alt="Print Form" /></a>
							</li>
							{% endfor %}
						</ul>
						{% endif %}
						<h3>Add a Child</h3>
						{% include "include/child-form.html" %}
						{% load facebook twitter openid %}
						<h3>Connected profiles:</h3>
						<ol>
							<li>{% if my_facebook %}
								<form>
									<img src="/static/images/facebook-icon-square.png" width="50" align="top"/> <a href="#" src="/disconnect/{{ parent.id }}/facebook" class="disconnect">Disconnect</a>. You should also remove the applicaiton from your Facebook <a href="https://www.facebook.com/settings?tab=applications" target="_settings">settings</a>
								</form>
								{% else %}{% facebook_button '/static/images/facebook-connect-button.png' %}{% endif %}</li>
							<li>{% if my_twitter %}
								<form>
									<img src="/static/images/twitter-icon-square.png" width="50" align="top"/> <a href="#" src="/disconnect/{{ parent.id }}/twitter" class="disconnect">Disconnect</a>. You should also remove the applicaiton from your Twitter <a href="https://twitter.com/settings/applications" target="_settings">settings</a>
								</form>
								{% else %}{% twitter_button '/static/images/twitter-connect-button.png' %}{% endif %}</li>
							<li>{% if my_google %}
								<form>
									<img src="/static/images/google-icon-square.png" width="50" align="top"/> <a href="#" src="/disconnect/{{ parent.id }}/google" class="disconnect">Disconnect</a>. You should also remove the applicaiton from your Google <a href="https://accounts.google.com/b/0/IssuedAuthSubTokens?hl=en" target="_settings">settings</a>
								</form>
								{% else %}{% openid_form 'https://www.google.com/accounts/o8/id' '/static/images/google-connect-button.png' %}{% endif %}</li>
						</ol>
						{% if facebook or twitter or messages %}
						<h3><a href="{% url socialregistration:logout %}">Logout</a></h3>
						{% else %}
						<h3><a href="/accounts/logout/">Logout</a></h3>
						{% endif %}
					</div>
				</div>
			</div>
			{% if child %}
			<br class="clearfix" />
			<table id="donations" style="display: none;"></table>
			{% endif %}
			<div id="page-bottom">
				{% include "include/page-bottom.html" %}
			</div>
		</div>
		<div id="overlay-box-post" class="overlay-box">
			<div class="overlay-content">
				<iframe id="post-iframe" style="width: 550px; height: 330px;" src="" scrolling="no" frameborder="0" name="post-iframe" marginwidth="0" marginheight="0" vspace="0" hspace="0"></iframe>
			</div>
		</div>
		<div id="overlay-box-edit" class="overlay-box">
			<div class="overlay-content">
				{% include "include/register-form.html" with edit=1 %}
				{% include "include/child-form.html" with edit=1 %}
			</div>
		</div>
		<div id="footer">
			{% include "include/page-footer.html" %}
		</div>
		<div id="fb-root"></div>
	</body>
	<script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.9.0.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/husky-hustle.js"></script>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId={{ facebook_api }}";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</html>
